<div class="right-side">
  <div class="ad-first">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- devluna_sidebar-right-1_AdSense1_1x1_as -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4870545545687277"
         data-ad-slot="2787629548"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
<br/>
<br/>
  <div class="ad-second">
    <!-- 블로그_오른쪽_아래 -->
    <ins class="adsbygoogle"
         style="display:inline-block;max-width:320px;width:100%;height:600px"
         data-ad-client="ca-pub-4870545545687277"
         data-ad-slot="2790123215"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
